.g-histogram
  display flex
  margin auto
  width 256px
  height 96px
  
  .g-histogram-bar
    flex 1 1 auto

  .g-histogram-bar.exclude
    opacity 0

.g-histogram-loading, .g-histogram-error
  justify-content center
  align-items center

.g-histogram-error .icon-cancel
  color darkred

#g-histogram-slider-container
  height 10px

  
.g-histogram-bar
  opacity 0

.selected
  fill #000000
  opacity 1

.exclude
  opacity 0