.g-histogram
  display flex

  .g-histogram-bar
    flex 1 1 auto

  .g-histogram-bar.exclude
    opacity 0

.g-histogram-loading, .g-histogram-error
  justify-content center
  align-items center

.g-histogram-error .icon-cancel
  color darkred
