.g-histogram
  display flex

  .g-histogram-plot-bar
    flex 1 1 auto
    background-color black

.g-histogram-loading, .g-histogram-error
  justify-content center
  align-items center

.g-histogram-plot
  align-items flex-end

.g-histogram-error .icon-cancel
  color darkred
